html[jtheme='light'], html {
    --jtheme-bg-primary: #fff;
    --jtheme-bg-secondary: #fcfcfc;
    --jtheme-bg-tertiary: #f5f5f5;
    --jtheme-bg-quaternary: #ededed;

    --jtheme-text-primary: #454543;
    --jtheme-text-secondary: #919191;
    --jtheme-text-tertiary: #529ecc;
    --jtheme-text-quaternary: #454543;

    --jtheme-btn-bg-primary: #919191;
    --jtheme-btn-bg-secondary: black;
    --jtheme-btn-border-primary: black;
    --jtheme-btn-border-secondary: black;
    --jtheme-btn-text-primary: white;
    --jtheme-btn-text-secondary: white;
}

html[jtheme='dark'] {
    --jtheme-bg-primary: #181a21;
    --jtheme-bg-secondary: #0d1014;
    --jtheme-bg-tertiary: #2f2f39;
    --jtheme-bg-quaternary: #2c2e33;

    --jtheme-text-primary: #ffffff;
    --jtheme-text-secondary: #ffffff;
    --jtheme-text-tertiary: #529ecc;
    --jtheme-text-quaternary: #ffffff;

    --jtheme-btn-bg-primary: white;
    --jtheme-btn-bg-secondary: white;
    --jtheme-btn-border-primary: white;
    --jtheme-btn-border-secondary: white;
    --jtheme-btn-text-primary: black;
    --jtheme-btn-text-secondary: black;
}
