@charset "utf-8";

.miso-category { padding:0px; }
.miso-category a { display:block; }
.miso-category .ca-head a { display:block; border:0; text-align:center; padding:30px 10px; font-size:20px; background: rgb(50, 60, 70); color:#fff; letter-spacing:-1px; padding-right:1px; }
.miso-category .ca-head a i { margin-right:4px; }
.miso-category .ca-body { border:1px solid #ddd; border-top:0px; }
.miso-category .ca-sub1 { padding:0px; border-bottom:1px solid #ddd; }
.miso-category .ca-sub1:last-child { border-bottom:0px; }
.miso-category .ca-sub1 a { display:block; padding: 7px 10px; color:#000 !important; }
.miso-category .ca-sub1 a:hover,
.miso-category .ca-sub1.on > a { font-weight:bold !important; background:#fafafa; }
.miso-category .ca-sub1 > a.no-sub::after { top: 0px; font-family: "FontAwesome"; float: right; position: relative; content: "\f105"; }
.miso-category .ca-sub1 > a.is-sub::after { top: 0px; font-family: "FontAwesome"; float: right; position: relative; content: "+"; }
.miso-category .ca-sub2 { padding:0; margin:0; list-style:none; background: #fff; padding:0px; margin:0px; }
.miso-category .ca-sub2 li { border-bottom:1px solid #eee; }
.miso-category .ca-sub2 li:last-child { border-bottom:1px solid #ddd; }
.miso-category .ca-sub2 li a { display:block; padding:6px 20px; padding-right:10px; }
.miso-category .ca-sub2 li a:hover,
.miso-category .ca-sub2 li.on a { font-weight:bold !important; color:#000 !important; }
.miso-category .ca-line { font-weight:bold; padding:10px; background:#f1f1f1; border-bottom:1px solid #ddd; font-size:14px; }
.miso-category .new { color:crimson; }